[Unit]
Description=Grafana

[Service]
Restart=always
User=grafana
ExecStart=/opt/grafana/bin/grafana-server -config /opt/grafana/conf/grafana.ini
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
WorkingDirectory=/opt/grafana

[Install]
WantedBy=multi-user.target
