# Configurações para executar os testes dos roles.
# Sempre executar os testes do diretório raíz do repositório.
# Exemplo:
# ansible-playbook supervisor/tests/main.yml

[defaults]
interpreter_python = auto_silent
inventory = .tests/inventory.ini
gathering = smart
retry_files_enabled = False
roles_path = .tests/roles
remote_user = root
stdout_callback = yaml
force_handlers = True

[ssh_connection]
pipelining = true
