---
- name: instala pacotes necess치rios
  yum:
    name:
      - tar
  when: ansible_distribution == "CentOS"

- name: cria diret칩rio de cache na m치quina local
  delegate_to: localhost
  run_once: yes
  file:
    path: "{{ download_local_cache_dir }}"
    state: directory
    recurse: yes

- name: faz download do pacote na m치quina local
  delegate_to: localhost
  run_once: yes
  get_url:
    url: "{{ url }}"
    dest: "{{ download_local_cache_dir }}/{{ file }}"

- name: faz upload do pacote para o destino
  copy:
    src: "{{ download_local_cache_dir }}/{{ file }}"
    dest: "{{ dir|d(download_dest_dir) }}/{{ file }}"
    mode: "{{ mode|d(0644) }}"
    owner: "{{ owner|d('root') }}"
    group: "{{ group|d('root') }}"
