---
- setup:
  delegate_to: "{{ virt_install_vmhost }}"

- name: instala pacotes necess치rios - debian
  apt:
    name:
      - python-libvirt
      - virtinst
    state: present
    install_recommends: no
  delegate_to: "{{ virt_install_vmhost }}"

- name: verifica se m치quina virtual existe
  virt:
    command: list_vms
  register: virt_vms
  check_mode: no
  delegate_to: "{{ virt_install_vmhost }}"

- block:
    - name: cria diret칩rio do preseed
      file:
        state: directory
        path: "/tmp/preseed-{{ inventory_hostname }}"
      delegate_to: "{{ virt_install_vmhost }}"
      when: virt_install_preseed is defined and virt_install_preseed != ""

    - name: copia arquivo do preseed
      template:
        src: "{{ virt_install_preseed }}"
        dest: "/tmp/preseed-{{ inventory_hostname }}/preseed.cfg"
      delegate_to: "{{ virt_install_vmhost }}"
      when: virt_install_preseed is defined and virt_install_preseed != ""

    - name: instala m치quina virtual {{ virt_install_name }}
      shell: http_proxy="{{ virt_install_http_proxy|d('') }}" virt-install
        --connect qemu:///system
        --name {{ virt_install_name }}
        {{ virt_install_args|join(' ') }}
      delegate_to: "{{ virt_install_vmhost }}"

    - name: aguarda porta tcp {{ virt_waitfor_port }} em {{ virt_install_ip }}
      connection: local
      wait_for:
        host: "{{ virt_install_ip }}"
        port: "{{ virt_waitfor_port }}"
        state: present
        timeout: "{{ virt_waitfor_timeout }}"
      when: "virt_waitfor_port|d"

    - name: remove chaves de ssh em know_hosts local
      connection: local
      run_once: yes
      known_hosts:
        name: "{{ item }}"
        state: absent
      with_items:
        - "{{ virt_install_ip }}"
        - "{{ virt_install_name }}"

  when: virt_install_name not in virt_vms.list_vms

- setup: {}
