---
- name: instala pacotes necess치rios
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - python-libvirt
  delegate_to: "{{ virt_install_vmhost }}"

- name: verifica se m치quina virtual existe
  virt:
    command: list_vms
  register: virt_vms
  delegate_to: "{{ virt_install_vmhost }}"

- block:

  - name: instala m치quina virtual {{ virt_install_name }}
    connection: local
    shell: virt-install
      --connect qemu:///system 
      --name {{ virt_install_name }} 
      {{ virt_install_args|join(' ') }}
    when: virt_install_http_proxy is not defined
    delegate_to: "{{ virt_install_vmhost }}"

  - name: instala m치quina virtual {{ virt_install_name }}
    connection: local
    shell: http_proxy="{{ virt_install_http_proxy }}" virt-install
      --connect qemu:///system 
      --name {{ virt_install_name }} 
      {{ virt_install_args|join(' ') }}
    when: virt_install_http_proxy is defined
    delegate_to: "{{ virt_install_vmhost }}"

  - name: aguarda porta tcp {{ virt_waitfor_port }} em {{ virt_install_ip }}
    connection: local
    wait_for:
      host: '{{ virt_install_ip }}'
      port: '{{ virt_waitfor_port }}'
      state: present
      timeout: '{{ virt_waitfor_timeout }}'
    when: 'virt_waitfor_port|d'

  - name: remove chave de ssh em know_hosts local
    connection: local
    failed_when: False
    command: ssh-keygen -R {{ virt_install_ip }}

  when: virt_install_name not in virt_vms.list_vms
