[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.io
After=shorewall.service

[Service]
ExecStart=/usr/local/bin/docker daemon {{ docker_daemon_opts }}
Restart=on-failure
TimeoutStopSec=5
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
