[Unit]
Description=iptables firewall
After=network.target

[Service]
Type=oneshot
ExecStop=/etc/firewall.sh stop
ExecStart=/etc/firewall.sh start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target