#!/bin/sh
# Script de firewall criado pelo role do Ansible zanardo/firewall
# https://github.com/zanardo/ansible-roles
# O script é carregado pelo service "firewall" do systemd.

export PATH="/sbin:/bin:/usr/sbin:/usr/bin"

set -e -x

case $1 in
	start)

# firewall_clear_commands
{{ firewall_clear_commands|d('') }}

# firewall_start_commands_pre
{{ firewall_start_commands_pre|d('') }}

# firewall_start_commands
{{ firewall_start_commands|d('') }}

# firewall_start_commands_pos
{{ firewall_start_commands_pos|d('') }}

		;;
	stop)

# firewall_clear_commands
{{ firewall_clear_commands|d('') }}

# firewall_stop_commands_pre
{{ firewall_stop_commands_pre|d('') }}

# firewall_stop_commands
{{ firewall_stop_commands|d('') }}

# firewall_stop_commands_pos
{{ firewall_stop_commands_pos|d('') }}

		;;

esac

exit 0