#!/bin/sh
#
# Firewall instalado pelo role do Ansible
# zanardo/firewall
#

set -e -x

export PATH="/sbin:/bin:/usr/bin:/usr/bin"

clear_firewall() {
	iptables -P INPUT ACCEPT
	iptables -P FORWARD ACCEPT
	iptables -P OUTPUT ACCEPT
	iptables -t filter -F
	iptables -t nat -F
	iptables -t mangle -F
	iptables -X
}

case $1 in
	start)
		clear_firewall
		{{ firewall_start_commands_pre|d('') }}
		{{ firewall_start_commands|d('') }}
		{{ firewall_start_commands_pos|d('') }}
		;;
	stop)
		clear_firewall
		{{ firewall_stop_commands_pre|d('') }}
		{{ firewall_stop_commands|d('') }}
		{{ firewall_stop_commands_pos|d('') }}
		;;
esac

exit 0